<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL Patient</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    <table border="1">
        <tr><th>NAME</th><th>AGE</th><th>GENDER</th><th>PH.NO</th><th>ADDRESS</th><th>BLOOD GROUP</th><th>Photo Path</th><th>ACTION</th></tr>
        {% for x in all %}
            <tr><td>{{x.patient_name}}</td><td>{{x.patient_age}}</td><td>{{x.gender}}</td><td>{{x.phone_no}}</td><td>{{x.address}}</td><td>{{x.blood_group}}</td><td>{{x.patient_photo_file_path}}</td><td><a href=""><button>view details</button></a></td></tr>
        {% endfor %}
    </table>
    {% endblock %}

</body>
</html>
