{% extends 'base.html' %}

{% block title %}
    DR
{% endblock title %}


{% block body %}
<h2>Patient Personal Details</h2>
<table>
    {% for personal in ppd %}
    <tr><th>Patient_ID:</th><td>{{personal.patient_id}}</td></tr>
    <tr><th>Name:</th><td>{{personal.patient_name}}</td></tr>
    <tr><th>Age:</th><td>{{personal.patient_age}}</td></tr>
    <tr><th>Gender:</th><td>{{personal.gender}}</td></tr>
    <tr><th>PH.No</th><td>{{personal.phone_no}}</td></tr>
    <tr><th>Blood Group</th><td>{{personal.blood_group}}</td></tr>
    <tr><th>Patient photo</th><td><img src="{{personal.patient_photo.url}}" height="100" width="100"></td></tr>
    <tr><th>address</th><td>{{personal.address}}</td></tr>
    {% endfor %}
</table>
<h2>Patient Diabeties History</h2>
<table>
    {% for history in pdh %}
    <tr><th>Diabetic Type:</th><td>{{history.diabetic_type}}</td></tr>
    <tr><th>Sugar Fasting Value</th><td>{{history.sugar_Fasting_value}}</td></tr>
    <tr><th>Sugar Non Fasting Value</th><td>{{history.sugar_Non_fasting_value}}</td></tr>
    <tr><th>Duration of Diabeties</th><td>{{history.time_duration}}</td></tr>
    <tr><th>previous diabeties report</th><td>{{history.diab_report}}</td></tr>
    {% endfor %}
</table>
<br>
{% if status %}
<h2>Diabetic Retinopathy Details</h2>
<table>
    {% for i in dr %}
    <tr><th>left Retina photo</th><td><img src="{{i.left_retina_photo.url}}" height="150" width="150"></td></tr>
    <tr><th>right Retina photo</th><td><img src="{{i.right_retina_photo.url}}" height="150" width="150"></td></tr>
    <tr><th>left Predicted stage</th><td>{{i.left_predicted_stage}}</td></tr>
    <tr><th>right Predicted stage</th><td>{{i.right_predicted_stage}}</td></tr>
    <tr><th>left Confirmation Percentage</th><td>{{i.left_confirmation}}</td></tr>
    <tr><th>right Confirmation Percentage</th><td>{{i.right_confirmation}}</td></tr>
    {% endfor %}
</table>
<a href= ""><button>Print</button></a>
{% else %}
{% for x in ppd %}
<a href= "addDR/{{x.patient_id}}"><button>Add Retina image</button></a>
{% endfor %}
{% endif %}
<a href= ""><button>Edit</button></a><a href= ""><button>Delete</button></a>
{% endblock body %}
